@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');


* {
  font-family: "Mona Sans", sans-serif;
  font-optical-sizing: auto;
  color: rgb(92, 85, 85);
}

.mainTile {
  font-family: "Great Vibes", cursive;
  font-weight: 600;
  font-style: normal;
  font-size: 8vw;
  color: rgb(92, 85, 85);
}

.imgTitle {
  width: 12vw;
  max-width: 200px;
  height: auto;
}

.paragraphTitle {
  font-size: 1.3vw;
}

a:hover {
  background-color: #9b9791;
  font-size: 18px;
  border-radius: 8px;

}